---
const platform = "github";
const username = "fverau";
const linkedinUsername = "fabianverau";
---

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}
      target="_blank">{platform}</a
    >!
  </p>
  <p>
    You can follow me on <a
      href={`https://www.linkedin.com/in/${linkedinUsername}/`}
      target="_blank">LinkedIn</a
    >
  </p>
</footer>
